.card-header{
    text-align: center;

}
.row{
    margin-bottom: 20px;
}
#underscores{
    text-align: center;
    
}

h1{
    text-align: center
}
#rightGuess{
    text-align: center;
}
#wrongguess{
    text-emphasis: center;
}